:root {
    --bgcolour: #101010;
    --teal: #33a8c7;
    --blue: #52e3e1;
    --green: #a0e426;
    --yellow: #fdf148;
    --orange: #ffab00;
    --salmon: #f77976;
    --pink: #f050ae;
    --lilac: #d883ff;
    --purple: #9336fd;
}

* {
    background-color: var(--bgcolour);
    color: #ffffff;
    text-align: center;
    /* margin: 2em; */
    /* top: 30%; */
}

p {
    padding: 2em;
    font-size: 2em;
}

#title {
    padding: 2em;
    font-size: 3em;
    /* outline-color: white;
    outline-width: 1px; */
}

.text {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 3em;
}

#button {
    padding: 2em;
    bottom: 30%;
}

#refresh {
    font-size: 0.5em;
}